.container-404{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-404 div{
    text-align: center;
}

.container-404 div h4{
    font-size: 1.7em;
    color: #000;
}

.container-404 div p{
    font-size: 1.1em;
    font-weight: 400;
    color: #000;
}

.container-404 div button{
    border: none;
    border-radius: 7px;
    background-color: #0d6efd;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    outline: none;
}

@media only screen and (max-width: 789px) {
    .container-404{
        padding: 0 20px;
    }
    
    .container-404 div h4{
        font-size: 1.2em;
    }
    
    .container-404 div p{
        padding-top: 5px;
    }
    
    
    .container-404 div button{
        border: none;
        border-radius: 7px;
        background-color: #0d6efd;
        color: #fff;
        font-size: 1em;
        font-weight: 500;
        padding: 10px 20px;
        cursor: pointer;
        margin-top: 10px;
        outline: none;
    }
}