.control-campaigns-list{
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .08);
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.control-campaigns-list div{
    display: flex;
    align-items: center;
}

.control-campaigns-list div p{
    padding-right: 10px;
    font-size: .9em;
    color: #0000006b;
}

.control-campaigns-list div button{
   background-color: #d3d4d528;
   font-weight: 500;
   border: none;
   padding: 7px 12px;
   border-radius: 5px;
   margin-left: 5px;
   cursor: pointer;
   font-size: .85em;
   outline: none;
}

.control-campaigns-list div button:hover{
    background-color: #d3d4d57e;
}