.communications{
    margin-top: 15px;
}

.communications .header-communications{
    display: flex;
    align-items: end;
}

.communications .header-communications h4{
    font-size: .95em;
    font-weight: 500;
    padding-right: 10px;
}

.communications .header-communications p{
    font-size: .8em;
    font-weight: 300;
}

.communications .communication{
    border-radius: 5px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .08);
    padding: 10px;
    margin-top: 5px;
    font-size: .9em;
    color: #000000a4;
}

@media only screen and (max-width: 789px) {
    .communications .communication{
        font-size: .85em;
    }
}