body section .back-range{
    width: 100%;
    height: 20px;
    margin-bottom: -20px;
}

body section .container{
    max-width: 600px;
    border-radius: 20px 20px 0 0;
    padding: 15px 12px 20px 12px;
}

body section .container .title{
    display: flex;
    align-items: center;
}

body section .container .title h1{
    font-size: 1.3em;
    font-weight: 500;
}

body section .container .title p{
    font-size: .9em;
    padding-top: 4px;
    color: #646464bd;
    padding-left: 5px;
    font-weight: 300;
}

body section .container .favorite-campaign .img-campaign{
    width: 100%;
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
    margin-bottom: -34px;
}

body section .container .favorite-campaign span {
    color: #fff;
    width: max-content;
    font-size: .7em;
    font-weight: 500;
    padding: 2px 7px;
    border-radius: 5px;
    margin-left: 10px;
    animation: fadeBlink 2.5s infinite;
}

@keyframes fadeBlink {
    0%, 100% {
        opacity: 1; 
    }
    50% {
        opacity: 0; 
    }
}

body section .container .favorite-campaign h2{
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

body section .container .favorite-campaign p{
    font-size: .75em;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
    padding-left: 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .08);
    margin-bottom: 7px;
    margin-top: -2px;
    font-weight: 300;
}

body section .container .grid-campaign-actives .campaign{
    border-radius: 10px;
    padding: 4px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .08);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

body section .container .grid-campaign-actives .campaign .picture-campaign{
    width: 16%;
    height: 110px;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body section .container .grid-campaign-actives .campaign .info-campaign{
    padding-left: 10px;
    width: 83%;
    height: 105px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body section .container .grid-campaign-actives .campaign .info-campaign h3{
    font-size: 1.1em;
    font-weight: 400;
    text-transform: uppercase;
}

body section .container .grid-campaign-actives .campaign .info-campaign p{
    font-size: .9em;
    font-weight: 300;
}

body section .container .grid-campaign-actives .campaign .info-campaign span {
    color: #fff;
    width: max-content;
    font-size: .8em;
    font-weight: 500;
    padding: 2px 7px;
    border-radius: 5px;
    animation: fadeBlink 2.5s infinite;
    margin-top: 5px;
}

@keyframes fadeBlink {
    0%, 100% {
        opacity: 1; 
    }
    50% {
        opacity: 0; 
    }
}

body section .container .grid-campaign-actives .campaign .info-campaign .draw-date{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    justify-content: center;    
}

body section .container .grid-campaign-actives .campaign .info-campaign .draw-date i{
    font-size: 1em;
    padding-right: 3px;
}

body section .container .grid-campaign-actives .campaign .info-campaign .draw-date p{
    font-size: .8em;
}

body section .container .btn-support a{
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .08);
    display: flex;
    justify-content: center;
    align-items: center;
}

body section .container .btn-support a span{
    font-size: 1.4em;
    border-radius: 7px;
    padding: 5px;
    margin-right: 7px;
}

body section .container .btn-support a div h3{
    font-size: 1.15em;
    font-weight: 400;
    margin-bottom: -3px;
}

body section .container .btn-support a div p{
    font-size: .8em;
}

body section .container .winners .title-winners{
    display: flex;
    align-items: center;
    margin-top: 7px;
}

body section .container .winners .title-winners h3{
    font-size: 1.3em;
    font-weight: 500;
}

body section .container .winners .title-winners p{
    font-size: .9em;
    padding-top: 4px;
    padding-left: 5px;
    font-weight: 300;
}

body section .container .winners .grid-winner .grid-winners{
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .08);
    padding: 5px;
    margin-top: 8px;
    color: #000;
}

body section .container .winners .grid-winner .grid-winners .img-user-home{
    width: 16%;
    height: 105px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 2px #63AC49;
    border-radius: 10px;
    margin-right: 10px;
}

body section .container .winners .grid-winner .grid-winners .info-winner-home p:first-child{
    text-transform: capitalize;
    font-size: 1em;
    font-weight: 400;
}

body section .container .winners .grid-winner .grid-winners .info-winner-home p{
    font-size: .76em;
    font-weight: 300;
}

body section .container .winners .grid-winner .grid-winners .info-winner-home h3{
    text-transform: uppercase;
    font-size: .85em;
    font-weight: 500;
}

body section .container .faq .title-faq h2{
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 10px;
}

body section .container .faq .container-faq{
    margin-bottom: 7px;
    border-radius: 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .08);
    padding: 10px;
}

body section .container .faq .container-faq h4{
    font-size: .9em;
    font-weight: 400;
    cursor: pointer;
}

body section .container .faq .container-faq p{
    font-size: .85em;
    font-weight: 400;
    line-height: 1.3em;
    padding-top: 5px;
    display: none;
}

@media only screen and (max-width: 789px) {
    body section .container{
        padding: 15px 10px 20px 10px;
    }

    body section .container .grid-campaign-actives .campaign .picture-campaign{
        width: 25%;
    }

    body section .container .grid-campaign-actives .campaign .info-campaign{
        width: 74%;
    }

    body section .container .winners .grid-winner .grid-winners .img-user-home{
        width: 25%;
    }
}