.register-form .login-afliate-section{
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 10px;
    cursor: pointer;
}

.register-form .login-afliate-section i{
    font-size: 1.8em;
}

.register-form .login-afliate-section h4{
    font-size: 1em;
}
.register-form .login-afliate-section p{
    font-size: .85em;
}

#togglePassword2{
    cursor: pointer;
    margin-top: -35px; 
    margin-right: 10px; 
    position: relative; 
    float: right; 
    font-size: 1.3em;
}

@media only screen and (max-width: 789px) {
    #togglePassword2{
        margin-top: -45px; 
    }
}