.dashboard-affiliate-sale{
    background-color: #282828;
    width: 79%;
    padding: 30px;
    border-radius: 7px;
    margin: 30px 0;
    border: 1px solid #ffffff23;
    
}

.dashboard-affiliate-sale .user-detail-container .table-names-user-detail{
    background-color: #1D1D1D;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    color: #fff;
    margin-top: 10px;
    display: flex;
    font-size: .7em;
    font-weight: 500;
    border: 1px solid #ffffff23;
    gap: 20px;
}

.dashboard-affiliate-sale .user-detail-container .table-names-user-detail div{
    text-align: left;
}

.dashboard-affiliate-sale .user-detail-container .user-detail-list .sale-row{
    background-color: #282828;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ffffff23;
    margin-top: -3px;
    gap: 20px;
}

.dashboard-affiliate-sale .user-detail-container .user-detail-list .name-campaign-detail{
    color: #ffffffbb;
    font-size: .83em;
    font-weight: 400;
    width: 30%;
    text-align: left;
}

.dashboard-affiliate-sale .user-detail-container .user-detail-list .name-total-detail{
    border-radius: 30px;
    font-size: .73em;
    font-weight: 500;
    padding: 2px 10px;
    width: 10%;
    text-align: left;
}

.dashboard-affiliate-sale .user-detail-container .user-detail-list .status-status-detail{
    font-size: .83em;
    font-weight: 400;
    width: 10%;
}

.dashboard-affiliate-sale .user-detail-container .user-detail-list .status-status-detail p{
    border-radius: 30px;
}

.dashboard-affiliate-sale .user-detail-container .user-detail-list .date-sale-detail{
    width: 20%;
    color: #ffffffbb;
    font-size: .83em;
    font-weight: 400;
    text-align: left;
}

.dashboard-affiliate-sale .user-detail-container .user-detail-list .action-sale-detail{
    width: 30%;
    text-align: left;

}

.dashboard-affiliate-sale .user-detail-container .user-detail-list .action-sale-detail button{
    border: none;
    border-radius: 10px;
    font-size: .80em;
    font-weight: 500;
    cursor: text;
    padding: 10px 15px;
}

@media only screen and (max-width: 789px) {
    .dashboard-affiliate-sale{
        padding: 20px 10px;
        margin: 20px 0;
        width: 95%;
        
    }

    .dashboard-affiliate-sale .user-detail-container .table-names-user-detail{
        display: none;
    }
    
    
    .dashboard-affiliate-sale .user-detail-container .user-detail-list .sale-row{
        background-color: #1D1D1D;
        border-radius: 5px 5px 5px 5px;
        padding: 15px;
        color: #000000bb;
        display: block;
        border-top: none;
        margin-top: 10px;
        border: 1px solid #ffffff23;
    }
    
    .dashboard-affiliate-sale .user-detail-container .user-detail-list .name-campaign-detail{
        width: 100%;
        padding-bottom: 10px;
    }

    
    .dashboard-affiliate-sale .user-detail-container .user-detail-list .name-total-detail{
        width: 100%;
        padding-bottom: 10px;
        padding-left: 0;

    }

    .dashboard-affiliate-sale .user-detail-container .user-detail-list .name-total-detail:before{
        content: 'Total:';
        color: #ffffffbb;
    }

    .dashboard-affiliate-sale .user-detail-container .user-detail-list .name-total-detail p{
        color: #ffffffbb;
    }
    
    .dashboard-affiliate-sale .user-detail-container .user-detail-list .status-status-detail{
        width: 100%;
        padding-bottom: 10px;
    }
    
    .dashboard-affiliate-sale .user-detail-container .user-detail-list .status-status-detail p{
        border-radius: 30px;
        width: 100px;
    }
    
    .dashboard-affiliate-sale .user-detail-container .user-detail-list .date-sale-detail{
        width: 100%;
        padding-bottom: 10px;

    }
    
    .dashboard-affiliate-sale .user-detail-container .user-detail-list .action-sale-detail{
        width: 30%;
        text-align: left;
    
    }
    
    .dashboard-affiliate-sale .user-detail-container .user-detail-list .action-sale-detail button{
        border: none;
        border-radius: 10px;
        font-size: .80em;
        font-weight: 500;
        cursor: text;
        padding: 10px 15px;
    }
}