.dashboard-home{
    background-color: #282828;
    width: 79%;
    padding: 30px;
    border-radius: 7px;
    margin: 30px 0;
    border: 1px solid #ffffff23;
}

.dashboard-home .services-dashboard-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.dashboard-home .services-dashboard-home .services{
    width: 25%;
    padding: 20px;
    border-radius: 5px;
    background-color: #1D1D1D;
    display: flex;
    align-items: center;
    border: 1px solid #ffffff23;
}

.dashboard-home .services-dashboard-home .services span i{
    padding: 10px 12px;
    border-radius: 50%;
}

.dashboard-home .services-dashboard-home .services span h4{
    color: #ffffff;
    font-size: .9em;
    font-weight: 500;
    padding-left: 10px;
}

.dashboard-home .services-dashboard-home .services span p{
    color: #ffffff;
    font-size: .95em;
    font-weight: 400;
    padding-left: 10px;
    text-align: left;
    padding-top: 5px;
}

.dashboard-home .services-dashboard-home .services span input{
    background: transparent;
    color: #ffffff;
    font-size: .95em;
    font-weight: 400;
    padding: 0;
    padding-left: 10px;
    border: none;
    box-shadow: none;
    pointer-events: none;
    width: 100%;
    
}

#revenue-input{
    padding-top: 5px;
}

@media only screen and (max-width: 789px) {
    .dashboard-home{
        width: 95%;
        padding: 20px;
        margin: 20px 0;
    }

    .dashboard-home .services-dashboard-home{
        display: block;
    }

    .dashboard-home .services-dashboard-home .services{
        width: 100%;
        margin-bottom: 15px;
    }
}