.dashboard-search{
    background-color: #282828;
    width: 79%;
    padding: 30px;
    border-radius: 7px;
    margin: 30px 0;
    border: 1px solid #ffffff23;
}

.filter-search{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.filter-search .search-form{
    width: 49%;
    border: 1px solid #ffffff23;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    padding: 15px;
    outline: none;
    background-color: #1D1D1D;
}

.filter-search .search-form h4{
    color: #ffffff;
    font-size: .85em;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: left;
}

.filter-search .search-form span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.filter-search .search-form span select{
    width: 50%;
    border: 1px solid #ffffff23;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 9px;
    outline: none;
    background-color: #1D1D1D;
}

.filter-search .search-form span .select-title-award{
    width: 77%;
}

.filter-search .search-form span input[type="text"]{
    width: 27%;
    border: 1px solid #ffffff23;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 9px;
    outline: none;
    background-color: #1D1D1D;
}

.filter-search .search-form span button{
    width: 23%;
    border: none;
    border-radius: 5px;
    background-color: #00CDBD;
    color: #fff;
    font-size: .9em;
    font-weight: 500;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
}

.filter-search .search-bigger-smaller-title{
    width: 49%;
    border: 1px solid #ffffff23;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    padding: 15px;
    outline: none;
    background-color: #1D1D1D;
}

.filter-search .search-bigger-smaller-title h4{
    color: #ffffff;
    font-size: .85em;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: left;
}

.filter-search .search-bigger-smaller-title span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.filter-search .search-bigger-smaller-title span select:first-child{
    width: 50%;
    border: 1px solid #ffffff23;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 9px;
    outline: none;
    background-color: #1D1D1D;
}

.filter-search .search-bigger-smaller-title span button{
    width: 23%;
    border: none;
    border-radius: 5px;
    background-color: #00CDBD;
    color: #fff;
    font-size: .9em;
    font-weight: 500;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
}

.result-search{
    background-color: #ffffff00;
    color: #ffffffbb;
    margin-top: 20px;
    text-align: left;
}

.result-search h4{
    color: #ffffffbb;
    font-size: .85em;
    font-weight: 400;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.result-search p{
    color: #ffffffbb;
    font-size: .83em;
    font-weight: 300;
}

.result-search span{
    color: #3bf19c;
    background-color: #30c78156;
    border-radius: 30px;
    font-size: .73em;
    font-weight: 500;
    padding: 2px 10px;
    width: max-content;
    letter-spacing: .15em;
}
.slc-search-roulette{
    width: 80% !important;
}

.info-search-title{
    border: 1px solid #ffffff23;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    padding: 15px;
    outline: none;
    background-color: #1D1D1D;
    margin-top: 10px;
    text-align: left;
}

.info-search-title p{
    color: #ffffffbb;
    font-size: .85em;
    font-weight: 400;
    margin-bottom: 5px;
}

.info-search-title p strong{
    font-weight: 500;
    padding: 0 !important;
}

.info-search-title .section-btns-results{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 5px;
}

.info-search-title .section-btns-results .btn-whatsapp{
    background-color: #16a059;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: .85em;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
}

.info-search-title .section-btns-results .btn-order{
    background-color: #00CDBD;
    border-radius: 5px;
    padding: 6px 20px;
    font-size: .85em;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
}

.info-search-title .section-btns-results .btn-order i{
    font-size: 1.4em;
}

@media only screen and (max-width: 789px) {
    .dashboard-search{
        padding: 20px 10px;
        margin: 20px 0;
        width: 95%;
        
    }

    .filter-search{
        display: block;
    }
    
    .filter-search .search-form{
        width: 100%;
        border: 1px solid #ffffff23;
        border-radius: 5px;
        font-size: 1em;
        font-weight: 400;
        color: #fff;
        padding: 15px;
        outline: none;
        background-color: #1D1D1D;
        margin-bottom: 10px;
    }

    .filter-search .search-form span{
        display: block; 
    }
    
    .filter-search .search-form span select{
        width: 100%;
    }

    .filter-search .search-form span .select-title-award{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .filter-search .search-form span input[type="text"]{
        width: 100%;
        margin-top: 10px;
    }
    
    .filter-search .search-form span button{
        width: 100%;
    }
    
    .filter-search .search-bigger-smaller-title{
        width: 100%;
        margin-bottom: 10px;
    }
    
    
    .filter-search .search-bigger-smaller-title span{
        display: block;
    }
    
    .filter-search .search-bigger-smaller-title span select:first-child{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .filter-search .search-bigger-smaller-title span select{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .filter-search .search-bigger-smaller-title span button{
        width: 100%;
    }

    .slc-search-roulette{
        width: 100% !important;
    }
        

    .info-search-title .section-btns-results{
        gap: 10px;
        align-items: center;
        padding-top: 5px;
        flex-direction: column;
    }
    
    .info-search-title .section-btns-results .btn-whatsapp{
        width: 100%;
    }
    
    .info-search-title .section-btns-results .btn-order{
        width: 100%;
    }
}