.dashboard-settings{
    background-color: #282828;
    width: 79%;
    padding: 30px;
    border-radius: 7px;
    margin: 30px 0;
    border: 1px solid #ffffff23;    
}

.dashboard-settings .setting-container{
    display: block;
}


.dashboard-settings .setting-container .nav-bar-settings div{
    background-color: #1D1D1D;
    color: #ffffff;
    width: 100%;
    display: flex;
    border: 1px solid #ffffff23;
    border-radius: 5px 5px 0 0;

}

.dashboard-settings .setting-container .nav-bar-settings div button{
    width: 100%;
    background: transparent;
    border: none;
    text-align: start;
    padding: 10px 0 10px 20px;
    color: #ffffff;
    font-size: .85em;
    font-weight: 400;
    outline: none;
}

.dashboard-settings .setting-container .nav-bar-settings div button:hover{
    border-bottom: solid 3px #00CDBD;
}

.dashboard-settings .setting-container .nav-bar-settings div button i{
    padding-right: 10px;
    font-size: 1.1em;
}

.dashboard-settings .setting-container .settings{
    width: 100%;
}

.dashboard-settings .setting-container .settings form{
    display: block;
}

.dashboard-settings .setting-container .settings form .toggles-settings{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dashboard-settings .setting-container .settings form .btn-save-settings{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #00CDBD;
    color: #fff;
    font-size: .9em;
    font-weight: 500;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}

.dashboard-settings .setting-container .settings form .settings-content{
    border: 1px solid #ffffff23;
    border-radius: 0 0 5px 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 10px 20px;
    outline: none;
    background-color: #1D1D1D;
    width: 100%;
    text-align: left;
    border-top: none;
}

.dashboard-settings .setting-container .settings form .settings-content label{
    font-size: .9em;
    font-weight: 500;
    color: #ffffffbb;
    display: block;
    margin: 5px 0;
    padding-bottom: 5px;
    padding-top: 7px;
    text-align: left;
}

.dashboard-settings .setting-container .settings form .settings-content input[type="text"], input[type="number"]{
    width: 100%;
    border: 1px solid #ffffff23;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 9px;
    outline: none;
    background-color: #1D1D1D;
}

.dashboard-settings .setting-container .settings form .settings-content .switch {
    position: relative;
    display: inline-block;
    width: 70px; 
    height: 34px;
}

.dashboard-settings .setting-container .settings form .settings-content .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.dashboard-settings .setting-container .settings form .settings-content .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b9b9b9;
    transition: .4s;
    border-radius: 34px;
}

.dashboard-settings .setting-container .settings form .settings-content .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.dashboard-settings .setting-container .settings form .settings-content input:checked + .slider {
    background-color: #00CDBD;
}

.dashboard-settings .setting-container .settings form .settings-content input:checked + .slider::before {
    transform: translateX(36px); 
}

.dashboard-settings .setting-container .settings form .settings-content .slider .text-on,
.slider .text-off {
    position: absolute;
    font-size: 0.8em; 
    color: white;
    width: 50%;
    text-align: center;
    line-height: 34px;
}

.dashboard-settings .setting-container .settings form .settings-content .slider .text-on {
    left: 0;
    opacity: 0;
    transition: opacity 0.4s;
}

.dashboard-settings .setting-container .settings form .settings-content .slider .text-off {
    right: 0;
    opacity: 1;
    transition: opacity 0.4s;
}

.dashboard-settings .setting-container .settings form .settings-content input:checked + .slider .text-on {
    opacity: 1;
}

.dashboard-settings .setting-container .settings form .settings-content input:checked + .slider .text-off {
    opacity: 0;
}

.dashboard-settings .setting-container .settings form .settings-content .slider.round {
    border-radius: 34px;
}

.dashboard-settings .setting-container .settings form .settings-content .slider.round::before {
    border-radius: 50%;
}

.dashboard-settings .setting-container .settings form .settings-content .text-editor {
    border: 1px solid #ffffff23;
    padding: 10px;
    min-height: 150px;
    max-height: 200px;
    word-wrap: break-word;
    outline: none;
    border-radius: 8px;
    font-size: .9em;
    margin-top: 10px;
    overflow: auto;
}

.dashboard-settings .setting-container .settings form .settings-content .text-editor::selection, .text-editor *::selection {
    background: #b3d4fc; 
    color: #000; 
}


.dashboard-settings .setting-container .settings form .settings-content #boldButton{
    border: none;
    border-radius: 5px;
    background-color: #585858;
    height: 30px;
    width: 30px;
}

.dashboard-settings .setting-container .settings form .settings-content #colorPicker {
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff; 
    border-radius: 5px; 
}

.dashboard-settings .setting-container .settings form .settings-content #colorPicker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.dashboard-settings .setting-container .settings form .settings-content #colorPicker::-webkit-color-swatch {
    border: none;
}

.dashboard-settings .setting-container .settings form .cutomize-content{
    border: 1px solid #ffffff23;
    border-radius: 0 0 5px 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 10px 20px;
    outline: none;
    background-color: #1D1D1D;
    width: 100%;
    text-align: left;
    border-top: none;
}

.dashboard-settings .setting-container .settings form .cutomize-content span label{
    font-size: .9em;
    font-weight: 500;
    color: #ffffffbb;
    display: block;
    margin: 5px 0;
    padding-bottom: 5px;
    padding-top: 7px;
    text-align: left;
}

.dashboard-settings .setting-container .settings form .cutomize-content span select{
    width: 100%;
    border: 1px solid #ffffff23;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 9px;
    outline: none;
    background-color: #1D1D1D;
}

.dashboard-settings .setting-container .settings form .cutomize-content span input[type="color"]{
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff; 
    border-radius: 5px; 
    cursor: pointer;
}

.dashboard-settings .setting-container .settings form .cutomize-content span input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.dashboard-settings .setting-container .settings form .cutomize-content span input[type="color"]::-webkit-color-swatch {
    border: none;
}

.dashboard-settings .setting-container .settings form .cutomize-content span input[type="file"]{
    display: none;
}

.dashboard-settings .setting-container .settings form .cutomize-content .content-image-logo .label-image-logo{
    background-color: #6C757D;
    color: #fff;
    font-size: .9em;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 400;
    cursor: pointer;
    width: max-content;
}

.dashboard-settings .setting-container .settings form .cutomize-content .content-image-logo .img-logo-view{
    width: 200px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px #00000028;
    border-radius: 5px;
}

.dashboard-settings .setting-container .settings form .cutomize-content .content-image-icon label{
    padding-top: 20px;
}

.dashboard-settings .setting-container .settings form .cutomize-content .content-image-icon .label-image-icon{
    background-color: #6C757D;
    color: #fff;
    font-size: .9em;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 400;
    cursor: pointer;
    width: max-content;
}

.dashboard-settings .setting-container .settings form .cutomize-content .content-image-icon .img-icon-view{
    width: 200px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px #00000028;
    border-radius: 5px;
}

.dashboard-settings .setting-container .settings form .social-content{
    border: 1px solid #ffffff23;
    border-radius: 0 0 5px 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 10px 20px;
    outline: none;
    background-color: #1D1D1D;
    width: 100%;
    text-align: left;
    border-top: none;
    padding-bottom: 20px;
}

.dashboard-settings .setting-container .settings form .social-content label{
    font-size: .9em;
    font-weight: 500;
    color: #ffffffbb;
    display: block;
    margin: 5px 0;
    padding-bottom: 5px;
    padding-top: 7px;
    text-align: left;
}

.dashboard-settings .setting-container .settings form .social-content input[type="text"], input[type="number"]{
    width: 100%;
    border: 1px solid #ffffff23;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 9px;
    outline: none;
    background-color: #1D1D1D;
}

.dashboard-settings .setting-container .settings form .track-content{
    border: 1px solid #ffffff23;
    border-radius: 0 0 5px 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 10px 20px;
    outline: none;
    background-color: #1D1D1D;
    width: 100%;
    text-align: left;
    border-top: none;
    padding-bottom: 20px;

}

.dashboard-settings .setting-container .settings form .track-content label{
    font-size: .9em;
    font-weight: 500;
    color: #ffffffbb;
    display: block;
    margin: 5px 0;
    padding-bottom: 5px;
    padding-top: 7px;
    text-align: left;
}

.dashboard-settings .setting-container .settings form .track-content input[type="text"], input[type="number"]{
    width: 100%;
    border: 1px solid #ffffff23;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 9px;
    outline: none;
    background-color: #1D1D1D;
}

.dashboard-settings .setting-container .settings form .gateway-content{
    border: 1px solid #ffffff23;
    border-radius: 0 0 5px 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 10px 20px;
    outline: none;
    background-color: #1D1D1D;
    width: 100%;
    text-align: left;
    border-top: none;
}

.dashboard-settings .setting-container .settings form .gateway-content .gateways-section-dc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dashboard-settings .setting-container .settings form .gateway-content .gateways-section-dc .form-group{
    width: 25%;
}

.dashboard-settings .setting-container .settings form .gateway-content label{
    font-size: .9em;
    font-weight: 500;
    color: #ffffffbb;
    display: block;
    margin: 5px 0;
    padding-bottom: 5px;
    padding-top: 7px;
    text-align: left;
}

.dashboard-settings .setting-container .settings form .gateway-content .switch {
    position: relative;
    display: inline-block;
    width: 70px; 
    height: 34px;
}

.dashboard-settings .setting-container .settings form .gateway-content .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.dashboard-settings .setting-container .settings form .gateway-content .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b9b9b9;
    transition: .4s;
    border-radius: 34px;
}

.dashboard-settings .setting-container .settings form .gateway-content .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.dashboard-settings .setting-container .settings form .gateway-content input:checked + .slider {
    background-color: #00CDBD;
}

.dashboard-settings .setting-container .settings form .gateway-content input:checked + .slider::before {
    transform: translateX(36px); 
}

.dashboard-settings .setting-container .settings form .gateway-content .slider .text-on,
.slider .text-off {
    position: absolute;
    font-size: 0.8em; 
    color: white;
    width: 50%;
    text-align: center;
    line-height: 34px;
}

.dashboard-settings .setting-container .settings form .gateway-content .slider .text-on {
    left: 0;
    opacity: 0;
    transition: opacity 0.4s;
}

.dashboard-settings .setting-container .settings form .gateway-content .slider .text-off {
    right: 0;
    opacity: 1;
    transition: opacity 0.4s;
}

.dashboard-settings .setting-container .settings form .gateway-content input:checked + .slider .text-on {
    opacity: 1;
}

.dashboard-settings .setting-container .settings form .gateway-content input:checked + .slider .text-off {
    opacity: 0;
}

.dashboard-settings .setting-container .settings form .gateway-content .slider.round {
    border-radius: 34px;
}

.dashboard-settings .setting-container .settings form .gateway-content .slider.round::before {
    border-radius: 50%;
}

@media only screen and (max-width: 789px) {
    .dashboard-settings{
        padding: 20px 10px;
        margin: 20px 0;
        width: 95%;        
    }

    .dashboard-settings .setting-container .nav-bar-settings div{
        background-color: #1D1D1D;
        color: #ffffff;
        width: 100%;
        display: block;
        border: 1px solid #ffffff23;
        border-radius: 5px 5px 0 0;
    
    }

    
    .dashboard-settings .setting-container .nav-bar-settings div button{
        padding: 15px 0 15px 15px;
    }

    .dashboard-settings .setting-container .settings form .gateway-content .gateways-section-dc .form-group{
    width: 50%;
    }

    .dashboard-settings .setting-container .settings form .toggles-settings .form-group{
        width: 50%;
    }
}