.dashboard-users{
    background-color: #282828;
    width: 79%;
    padding: 30px;
    border-radius: 7px;
    margin: 30px 0;
    border: 1px solid #ffffff23;
}

.dashboard-users .title-page-dc button{
    border: none;
    border-radius: 5px;
    background-color: #00CDBD;
    color: #fff;
    font-size: .9em;
    font-weight: 500;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
}

.users-container .filter-users form{
    display: flex;
    align-items: center;
    gap: 10px;
}

.users-container .filter-users form input{
    width: 100%;
    border: 1px solid #ffffff23;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 9px;
    outline: none;
    background-color: #1D1D1D;
}

.users-container .filter-users form button{
    width: 30%;
    border: none;
    border-radius: 5px;
    background-color: #00CDBD;
    color: #fff;
    font-size: .9em;
    font-weight: 500;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
}

.users-container .table-names-users{
    background-color: #1D1D1D;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    color: #fff;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: .7em;
    font-weight: 500;
    border: 1px solid #ffffff23;
}

.users-container .table-names-users div{
    text-align: left;
 }

.users-container .users-list .user-grid{
    background-color: #282828;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ffffff23;
    margin-top: -3px;
    gap: 10px;
}

.users-container .users-list .user-grid .name-user{
    display: flex;
    align-items: center;
    width: 25%;
}

.users-container .users-list .user-grid .name-user div{
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.users-container .users-list .user-grid .name-user p{
    color: #ffffffbb;
    font-size: .8em;
    font-weight: 400;
}

.users-container .users-list .user-grid .phone-user{
    display: flex;
    align-items: center;
    position: relative;
    width: 15%;
}

.users-container .users-list .user-grid .phone-user input{
    border: none;
    box-shadow: none;
    padding: 0;
    width: 100%;
    color: #ffffffbb;
    font-size: .8em;
    font-weight: 400;
    pointer-events: none;
    background-color: transparent;
}

.users-container .users-list .user-grid .phone-user i{
    font-size: 1.1em;
    position: absolute;
    right: -15px;
    background: transparent;
    cursor: pointer;
}

.users-container .users-list .user-grid .function-user{
    color: #ffffffbb;
    font-size: .85em;
    font-weight: 400;
    width: 5%;
}

.users-container .users-list .user-grid .function-user p{
    color: #ffffff;
    background-color: #6e6e6e56;
    border-radius: 30px;
    font-size: .73em;
    font-weight: 500;
    padding: 2px 10px;
    width: max-content;
}

.users-container .users-list .user-grid .date-create-user{
    color: #ffffffbb;
    font-size: .85em;
    font-weight: 400;
    width: 14%;
}

.users-container .users-list .user-grid .action-user{
    display: flex;
    width: 12%;
}

.users-container .users-list .user-grid .action-user i{
    color: #fff;
    font-size: 1em;
    margin-left: 15px;
    cursor: pointer;
}

.users-container .users-list .user-grid .action-user i:hover{
    color: #00CDBD;
}

.users-container .users-list .user-grid  .action-user button{
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
}


.form-edit-user .modal-edit-campaign .container-modal-edit-campaign h4{
    font-size: 1.1em;
    font-weight: 400;
    border-bottom: 1px solid #ffffff23;
    padding: 0 0 15px 0;
    text-align: left;
    display: flex;
    gap: 10px;
}

.form-edit-user .modal-edit-campaign .container-modal-edit-campaign label{
    font-size: .9em;
    font-weight: 500;
    color: #ffffffbb;
    display: block;
    margin: 5px 0;
    padding-bottom: 5px;
    padding-top: 7px;
    text-align: left;
}

.form-edit-user .modal-edit-campaign .container-modal-edit-campaign input[type="text"], input[type="number"], input[type="password"], input[type="email"]{
    width: 100%;
    border: 1px solid #ffffff23;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 9px;
    outline: none;
    background-color: #1D1D1D;
}

.form-edit-user .modal-edit-campaign .container-modal-edit-campaign textarea{
    width: 100%;
    border: 1px solid #ffffff23;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #fff;
    padding: 9px;
    outline: none;
    background-color: #1D1D1D;
}

.form-edit-user .modal-edit-campaign .container-modal-edit-campaign .section-user-image{
    padding: 10px 0 0 0;
}

.form-edit-user .modal-edit-campaign .container-modal-edit-campaign .section-user-image input[type="file"]{
    display: none;
}

.form-edit-user .modal-edit-campaign .container-modal-edit-campaign .section-user-image div:last-child{
    display: block;
}

.form-edit-user .modal-edit-campaign .container-modal-edit-campaign .section-user-image .img-user{
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.form-edit-user .modal-edit-campaign .container-modal-edit-campaign .section-user-image .label-img-user{
    background-color: #6C757D;
    color: #fff;
    font-size: .9em;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 400;
    cursor: pointer;
}
.form-edit-user .modal-edit-campaign .container-modal-edit-campaign .section-user-image .label-img-user i{
    color: #fff;
}

.form-edit-user .modal-edit-campaign .container-modal-edit-campaign .btn-save-user{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #00CDBD;
    color: #fff;
    font-size: .9em;
    font-weight: 500;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    text-align: center;
}

.users-container .users-list .user-grid  .action-user .form-delete-communication .modal-delete-campaign{    
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000071;
    backdrop-filter: blur(7px);
    z-index: 99999;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.users-container .users-list .user-grid  .action-user .form-delete-communication .modal-delete-campaign .container-modal-delete-campaign{
    width: 320px;
    height: max-content;
    background-color: #333333;
    border-radius: 5px;
    box-shadow: -1px 10px 17px -11px rgba(0, 0, 0, 0.212);
    border: 1px solid #ffffff23;
}

.users-container .users-list .user-grid  .action-user .form-delete-communication .modal-delete-campaign .container-modal-delete-campaign h4{
    font-size: 1.1em;
    font-weight: 400;
    border-bottom: 1px solid #ffffff23;
    padding: 15px;
    text-align: left;
}

.users-container .users-list .user-grid  .action-user .form-delete-communication .modal-delete-campaign .container-modal-delete-campaign p{
    font-size: .9em;
    font-weight: 300;
    padding: 10px 15px;
    color: #ffffff;
    text-align: left;
}

.users-container .users-list .user-grid  .action-user .form-delete-communication .modal-delete-campaign .container-modal-delete-campaign span{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 15px 15px 0;
}

.users-container .users-list .user-grid  .action-user .form-delete-communication .modal-delete-campaign .container-modal-delete-campaign .delete-campaign-no{
    border: solid 2px #00CDBD;
    border-radius: 5px;
    color: #00CDBD;
    font-size: .95em;
    font-weight: 300;
    padding: 3px 12px;
    cursor: pointer;
}

.users-container .users-list .user-grid  .action-user .form-delete-communication .modal-delete-campaign .container-modal-delete-campaign .delete-campaign-yes{
    border: solid 2px #00CDBD;
    border-radius: 5px;
    color: #fff;
    font-size: .95em;
    font-weight: 300;
    background-color: #00CDBD;
    margin-left: 10px;
    padding: 3px 12px;
    cursor: pointer;
}

@media only screen and (max-width: 789px) {
    .dashboard-users{
        padding: 20px 10px;
        width: 95%;
        margin: 20px 0;
    }
    
    .users-container .filter-users form{
        display: block;
        padding-bottom: 10px;
    }
    
    .users-container .filter-users form input{
        width: 100%;
    }
    
    .users-container .filter-users form button{
        width: 100%;
    }

    .users-container .table-names-users{
        display: none;
    }
    
    .users-container .users-list .user-grid{
        background-color: #1D1D1D;
        border-radius: 5px 5px 5px 5px;
        padding: 15px;
        color: #000000bb;
        display: block;
        border-top: none;
        margin-top: 10px;
        border: 1px solid #ffffff23;
    }
    
    .users-container .users-list .user-grid .name-user{
        width: 100%;
    }
    
    .users-container .users-list .user-grid .phone-user{
        display: flex;
        align-items: center;
        position: relative;
        width: 35%;
        margin-top: 9px;
        padding-bottom: 10px;
    }

    .users-container .users-list .user-grid .phone-user input{
        margin-bottom: -5px;
    }

    .users-container .users-list .user-grid .phone-user i{
        color: #ffffff;
    }
    
    .users-container .users-list .user-grid .function-user{
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .users-container .users-list .user-grid .date-create-user{
        width: 100%;
        padding: 3px 0 10px 0;
        text-align: left;
        padding-top: 10px;
    }
    
    .users-container .users-list .user-grid .action-user{
        display: flex;
        gap: 15px;
        width: 100%;
    }
    
    .users-container .users-list .user-grid .action-user i{
        margin-left: 0;
    }
    
    .users-container .users-list .user-grid  .action-user .form-delete-communication .modal-delete-campaign .container-modal-delete-campaign{
        width: 95vw;
    }

    .users-container .users-list .user-grid  .action-user .form-edit-user .modal-edit-campaign .container-modal-edit-campaign{
        width: 95vw;
    }

    .users-container .users-list .user-grid  .action-user .form-edit-user .modal-edit-campaign .container-modal-edit-campaign #togglePassword{
        margin-top: -45px;
    }
}