.promotions{
    width: 100%;
    margin-top: 5px;
}

.promotions .promotion-single{
    display: flex;
    align-items: center;
}

.promotions .promotion-single h3{
    font-weight: 500;
    font-size: 1.2em;
}

.promotions .promotion-single p{
    padding-top: 6px;
    font-size: .9em;
    font-weight: 300;
    padding-left: 7px;
}

.promotions .promotion-content{
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 7px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .08);
    border-radius: 10px;
    margin-top: 5px;
}

.promotions .promotion-content div{
    width: 33%;
    border-radius: 5px;
    padding: 3px 5px;
    text-align: center;
    color: #fff;
    font-size: .8em;
    font-weight: 300;
    margin-right: 5px;
    cursor: pointer;
}

.promotions .promotion-content div .st{
    font-weight: 500;
    padding-right: 3px;
}

.promotions .promotion-content div .sp{
    font-weight: 500;
    padding-left: 3px;
}

@media only screen and (max-width: 789px) {
    .promotions .promotion-content div{
        font-size: .64em;
    }
}