.spins-single .spins-container .spins-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    gap: 70px;
    border-radius: 5px;
    margin-top: 7px;
    padding: 10px 70px 25px 70px;
    cursor: pointer;
}

.spins-single .spins-container .spins-content .qtd_numbers {
    text-align: center;
}

.spins-single .spins-container .spins-content p {
    font-size: .70em;
    font-weight: 500;
    color: #ffffffad;
}

.spins-single .spins-container .spins-content h4 {
    font-size: .9em;
    color: #fff;
}

.spins-single .spins-container .spins-content .gift-spins {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.spins-single .spins-container .spins-content .gift-spins .spins-gift {
    text-align: center;
}

.spins-single .spins-container .spins-content .gift-spins h5 {
    font-size: 1.75em;
}

.spins-single .spins-container .spins-content .p-1 {
    position: absolute;
    margin-top: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 789px) {
    .spins-single .spins-container .spins-content {
        gap: 45px;
        padding-bottom: 28px;
        padding: 10px 20px 25px 20px;
    }

    .spins-single .spins-container .spins-content h4 {
        font-size: .8em;
    }
}